<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>This is the question page</p>
<form method="post">
    {%csrf_token%}
    {{ question.question }}
    <table>
        <tr>
            <td><input type="radio" name="options" value="{{question.option1}}" required></td><td>{{ question.option1 }}
            <td><input type="radio" name="options" value="{{question.option2}}" required></td><td>{{ question.option2 }}
            <td><input type="radio" name="options" value="{{question.option3}}" required></td><td>{{ question.option3 }}
            <td><input type="radio" name="options" value="{{question.option4}}" required></td><td>{{ question.option4 }}
        </td></tr>
        <tr><td>Score</td>
        <td>:</td>
            <td>{{ score }}</td></tr></table>
    <button type="submit" formaction="answer/{{ question.id }}/">Submit your response</button>
    <button type="submit" name="logout" formaction="question/result_page/">Exit</button>

</form>
</body>
</html>