<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>This is the question page</p>
<form method="post">
    {%csrf_token%}
    {{ question.question }}
    <table>
        <tr>
            <td><input type="radio" name="options" value="{{question.option1}}" ></td><td>{{ question.option1 }}
            <td><input type="radio" name="options" value="{{question.option2}}" ></td><td>{{ question.option2 }}
            <td><input type="radio" name="options" value="{{question.option3}}" ></td><td>{{ question.option3 }}
            <td><input type="radio" name="options" value="{{question.option4}}" ></td><td>{{ question.option4 }}
        </td></tr>
        <tr><td>Score</td>
        <td>:</td>
            <td>{{ score }}</td></tr></table>
    <button type="submit" formaction="answer/{{ question.id }}/">Submit your response</button>
    <button type="submit" name="logout" formaction="logout/">Exit</button>
    <button type="submit" name="buffer" id="buffer" formaction="pushinbuffer/{{ question.id }}/">Put this in buffer</button>
    <button type="submit" name="buffer1" formaction="/{{ question.id }}">buffer1</button>
    <button type="submit" name="buffer2" formaction="/{{ question.id }}">buffer2</button>
    <button type="submit" name="buffer3" formaction="/{{ question.id }}">buffer3</button>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% block javascript %}
    <script type="text/javascript">
    $("#buffer").click(function () {
      var username = $(this).val();
$.ajax({
        url: '/ajax/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (full_buff) {
          if (full_buff.is_full>2) {
            alert("Your buffer is full, Solve at least one of them");
          }else
              alert("Added successfully to buffer");
        }
      });
    });
  </script>
{% endblock %}

</form>
</body>
</html>