<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>This is the questions page</p>

<form action="answer/{{ question.id }}/" method="post">
    {%csrf_token%}
    {{ question.question }}
    <table>
        <tr>
            <td><input type="text" name="attempt1" value="{{question.attempt1}}" ></td><td>{{ question.attempt1 }}
            <td><input type="text" name="attempt2" value="{{question.attempt2}}" ></td><td>{{ question.attempt2 }}
        </td></tr>
        <tr>
            <td><button type="submit">Submit your 1st response</button></td>
            <td><button type="submit">Submit your 2nd response</button></td>
        </tr>
        <tr><td>Score</td>
        <td>:</td>
            <td>{{ score }}</td></tr></table>

</form>
</body>
</html>