<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>This is the questions page</p>

<form action="answer/{{ question.id }}/" method="post">
    {%csrf_token%}
    {{ question.question }}
    <table>
        <tr>
            <td><input type="text" name="attempt1" value="">
            <td><input type="text" name="attempt2" value="">
        </td></tr>
        <tr>
            <td><button type="submit" formaction="answer/{{ question.id }}/" >Submit your response</button></td>
            <td><button type="submit" formaction="logout/">Exit</button> </td>
        </tr>
        <tr><td>Score</td>
        <td>:</td>
            <td>{{ score }}</td></tr></table>

</form>
</body>
</html>